<ul class="list-unstyled">
  <li class="pc-h-item">
  </li>
  <li class="dropdown pc-h-item" ngbDropdown>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-divider"></div>
      <ng-scrollbar style="min-height: 300px" visibility="hover">
        <div class="dropdown-header px-0 text-wrap header-notification-scroll">
          <div class="list-group list-group-flush w-100">
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                </div>
                <div class="flex-grow-1 ms-3">
                </div>
              </div>
            </a>

          </div>
        </div>
      </ng-scrollbar>
      <div class="dropdown-divider"></div>
    </div>
  </li>
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img src="assets/profile.jpg" alt="user-image" class="user-avatar me-2" />
      <span class="f-w-600">{{ user.nombre || '' }}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-shrink-0">
            <img src="assets/profile.jpg" alt="user-image" class="user-avatar wid-35" />
          </div>
          <div class="flex-grow-1 ms-3 text-start">
            <h6 class="mb-0">{{ user.nombre || 'JWT User' }}</h6>
            <span>{{ user.cargo || '' }}</span>
          </div>
          <a href="javascript:" class="bg-transparent"><i class="d-flex f-20" antIcon theme="outline"
              type="logout"></i></a>
        </div>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <a ngbNavLink>
            <i antIcon theme="outline" type="user" class="me-2"></i>
            Profile
          </a>
          <ng-template ngbNavContent>
            <div *ngFor="let task of profile">
              <a class="dropdown-item" (click)="task.action ? task.action() : null">
                <i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
                <span>{{ task.title }}</span>
              </a>
            </div>
            <div>
              <a class="dropdown-item">
                <i class="text-muted" antIcon theme="outline" type="logout"></i>
                <button (click)="goTo('/login')" >Cerrar Sesión</button>
              </a>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </li>
</ul>