<app-navigation
  class="pc-sidebar"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapse)="this.navCollapsed = !this.navCollapsed"
/>
<app-nav-bar (NavCollapsedMob)="navMobClick()" (NavCollapse)="this.navCollapsed = !this.navCollapsed"></app-nav-bar>

<mat-sidenav-container class="mainWrapper blue_theme" autosize autoFocus dir="ltr">
  <mat-sidenav-content>
    <div class="table-container">
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="produccionPersonal" class="w-100 high-contrast-table" id="produccionPersonalTable">
          <!-- ID Producción Column -->
          <ng-container matColumnDef="id_produccion">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 high-contrast-header">ID Producción</th>
            <td mat-cell *matCellDef="let element" class="high-contrast-cell">{{ element.id_produccion }}</td>
          </ng-container>

          <!-- RUT Column -->
          <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 high-contrast-header">RUT</th>
            <td mat-cell *matCellDef="let element" class="high-contrast-cell">{{ element.rut }}</td>
          </ng-container>

          <!-- Fecha y Hora Column -->
          <ng-container matColumnDef="fecha_hora">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 high-contrast-header">Fecha y Hora</th>
            <td mat-cell *matCellDef="let element" class="high-contrast-cell">{{ element.fecha_hora | date: 'short' }}</td>
          </ng-container>

          <!-- ID Producto Column -->
          <ng-container matColumnDef="id_producto">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 high-contrast-header">ID Producto</th>
            <td mat-cell *matCellDef="let element" class="high-contrast-cell">{{ element.id_producto }}</td>
          </ng-container>

          <!-- Kilogramos Producidos Column -->
          <ng-container matColumnDef="kilogramos_producidos">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 high-contrast-header">Kilogramos Producidos</th>
            <td mat-cell *matCellDef="let element" class="high-contrast-cell">{{ element.kilogramos_producidos }}</td>
          </ng-container>

          <!-- Header Row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!-- Data Row -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="button-container mt-3">
          <button (click)="generatePDF()" class="btn btn-primary">Generar y Crear PDF</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
