<div class="home-container">
    <div class="top-bar">
        <div class="login-bar">
            <button class="login-button" (click)="redirectToDashboard()">Login</button>
            <!-- <button class="login-button" (click)="redirectToUser()">USeRTEST</button> -->
        </div>
    </div>
    <div class="card-container">
        <div class="card" routerLink="/page1">
            <h3>TBD</h3>
            <p>EN PROGRESO</p>
        </div>
        <div class="card" routerLink="/page2">
            <h3>TBD</h3>
            <p>EN PROGRESO</p>
        </div>
        <div class="card" routerLink="/page3">
            <h3>TBD</h3>
            <p>EN PROGRESO</p>
        </div>
    </div>
    <div class="contact-bar">
        <img src="/assets/logo.jpg" alt="Logo" class="logo">
        <span>Contactanos! <a href="mailto:contact&#64;example.com">sebastianalvarezacc&#64;gmail.com</a></span>
    </div>
</div>